.profileImage
{
    border-radius: 100%;
    max-width: 40px;
}

.profileImageList
{
    border-radius: 100%;
    max-width: 60px;
    border: 2px solid #f00;
    padding: 2px;
}

.profileImgSm
{
    border-radius: 100%;
    max-width: 20px;
}

.instaLogo
{
    max-width: 100px;
}

.navbar
{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
}

.instaFeedBodyWrap
{
    margin-top: 70px;
}